<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


  <div id="app">
    <h2>{{message}}</h2>

      <input type="radio" value="男" v-model="sex">男
      <input type="radio" value="女" v-model="sex">女

      <h2>您选择的性别是:{{sex}}</h2>
  </div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "hello world !",
      sex: '男'
    },
    methods: {

    }
  })

</script>



</body>
</html>